<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon
    <link rel="shortcut icon" href="favicon.ico"> -->
    <!-- Google Fonts -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css"><!---->
    <link rel="stylesheet" href="~/assets/css/offcanvas.css"><!---->
    <!-- CSS Global Icons -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css"><!---->
    <link href="~/assets/vendor/icon-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/simple-line-icons.css"><!---->
    <link rel="stylesheet" href="~/assets/css/style.css"><!---->
    <link href="~/assets/vendor/icon-etlinefont/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style2.css"><!--style2.css-->
    <link href="~/assets/vendor/icon-hs/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style3.css"><!--style3.css-->
    <link href="~/assets/vendor/icon-line-pro/style.css" rel="stylesheet" />
    <link href="~/assets/vendor/icon-line/css/simple-line-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/dzsparallaxer.css"><!---->
    <link rel="stylesheet" href="~/assets/css/scroller.css"><!---->
    <link rel="stylesheet" href="~/assets/css/plugin.css"><!---->
    <link rel="stylesheet" href="~/assets/css/animate.css"><!---->
    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css"><!---->
    <link rel="stylesheet" href="~/assets/css/slick.css"><!---->
    <link rel="stylesheet" href="~/assets/css/custombox.min.css"><!---->
    <link rel="stylesheet" href="~/assets/css/typed.css"><!---->
    <link rel="stylesheet" href="~/assets/css/jquery.mCustomScrollbar.min.css"><!---->
    <link rel="stylesheet" href="~/assets/css/hs.megamenu.css"><!---->
    <link rel="stylesheet" href="~/assets/css/hamburgers.min.css"><!---->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css"><!---->
    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/assets/css/unify-core.css"><!---->
    <link rel="stylesheet" href="~/assets/css/unify-components.css"><!---->
    <link rel="stylesheet" href="~/assets/css/unify-globals.css"><!---->
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css"><!---->

    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <title>@ViewBag.Title - SFA Alliance for Business Consulting and Services</title>
</head>

<body>
    <main>
        <!-- Header -->
        <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
            <!-- Top Bar -->
            <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-black g-transition-0_3 g-py-10">
                <div class="container">
                    <div class="row flex-column flex-sm-row justify-content-between align-items-center text-uppercase g-font-weight-600 g-color-white g-font-size-12 g-mx-0--lg">
                        <div class="col-auto">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/sfaalliance" class="g-color-white g-color-primary--hover g-pa-3" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://twitter.com/SFA_alliance" class="g-color-white g-color-primary--hover g-pa-3" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/company/sfaalliance/" class="g-color-white g-color-primary--hover g-pa-3" target="_blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-auto">
                            <i class="fa fa-phone g-font-size-18 g-valign-middle g-color-primary g-mr-10 g-mt-minus-2"></i>
                            +202- 226 39 812
                        </div>

                        <div class="col-auto">
                            <i class="fa fa-clock-o g-font-size-18 g-valign-middle g-color-primary g-mr-10 g-mt-minus-2"></i>
                            sun-Th: 9 AM - 5 PM
                        </div>

                        <div class="col-auto g-px-15">
                            <i class="icon-envelope g-font-size-24 g-valign-middle g-color-primary g-mr-15"></i>
                            <a href="mailto:sfa@sfa-bcs.com" class="g-color-white g-color-primary--hover g-text-underline--none--hover">sfa@sfa-bcs.com</a>
                        </div>
                        <div class="col-auto g-pos-rel">
                            <ul class="list-inline g-overflow-hidden g-pt-1 g-mx-minus-4 mb-0">
                                <li class="list-inline-item g-mx-4">
                                    <i class="icon-globe-alt g-font-size-18 g-valign-middle g-color-primary g-pos-rel g-top-minus-2 g-mr-10"></i>
                                    <a href="#" id="languages-dropdown-invoker-2" class="g-color-white g-color-primary--hover g-text-underline--none--hover" aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#languages-dropdown-2"
                                       data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                                        English
                                    </a>
                                    <ul id="languages-dropdown-2" class="list-unstyled g-pos-abs g-left-0 g-bg-black g-width-160 g-pb-5 g-mt-10" aria-labelledby="languages-dropdown-invoker-2">
                                        <li>
                                            <a class="d-block g-color-white g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20" href="#">English</a>
                                        </li>
                                        <li>
                                            <a class="d-block g-color-white g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20" href="ar-index.html">Arabic</a>
                                        </li>


                                    </ul>

                                </li>

                            </ul>
                        </div>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class=" g-px-15">
                                    <a href="#">Welcome @User.Identity.Name</a>
                                    
                                    &nbsp; &nbsp;
                                    <a style="margin-left:20px" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-auto g-px-15">
                                            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                        </div>
                                        <div class="col-auto g-px-15">
                                            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </div>
                                    }
                    <!--   <div class="col-auto">

 Search
<div class="d-inline-block g-valign-middle g-pos-rel g-top-minus-1">
  <a href="#" class="g-font-size-18 g-color-white g-color-primary--hover" aria-haspopup="true" aria-expanded="false" aria-controls="searchform-1" data-dropdown-target="#searchform-1" data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeInUp"
  data-dropdown-animation-out="fadeOutDown">
    <i class="fa fa-search"></i>
  </a>

   Search Form
  <form id="searchform-1" class="u-searchform-v1 u-dropdown--css-animation u-dropdown--hidden g-bg-black g-pa-10 g-mt-10 g-box-shadow-none">
    <div class="input-group g-brd-primary--focus">
      <input class="form-control rounded-0 u-form-control g-brd-gray-light-v3" type="search" placeholder="Enter Your Search Here...">

      <div class="input-group-addon p-0">
        <button class="btn rounded-0 btn-primary btn-md g-font-size-14 g-px-18" type="submit">Go</button>
      </div>
    </div>
  </form>
   End Search Form
</div>
 End Search -->
                    </div>
                </div>
            </div>
            <!-- End Top Bar -->
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
                <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="#" class="navbar-brand d-flex">
                            <img src="~/assets/img/SFA Earth.png" width="103" height="49" alt="">
                        </a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 mr-auto">
                                <!-- Home -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="~/Home" class="nav-link g-py-7 g-px-0">Home</a>
                                </li>
                                <!-- End Home -->
                                <!-- about us -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="~/Home/About" class="nav-link g-py-7 g-px-0">About us</a>
                                </li>
                                <!-- End about us -->
                                <!-- services -->

                                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <a id="nav-link--features" class="nav-link g-py-7 g-px-0" href="~/Home/Services" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--features">Services</a>

                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--features" aria-labelledby="nav-link--features">
                                        <!-- Features - Headers -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/Services#Taxation">Taxation</a>
                                        </li>
                                        <!-- End Features - Headers -->
                                        <!-- Features - Promo blocks -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/Services#BusinessLegalAffairs">Business Legal</a>
                                        </li>
                                        <!-- End Features - Promo blocks -->
                                        <!-- Features - Promo blocks -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/Services#HumanResources">Human Resources</a>
                                        </li>
                                        <!-- End Features - Promo blocks -->
                                        <!-- Features - Promo blocks -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/Services#Administrative">Administrative</a>
                                        </li>
                                        <!-- End Features - Promo blocks -->
                                        <!-- Features - Promo blocks -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/Services#StudiesandSurveys">Studies and Surveys</a>
                                        </li>
                                        <!-- End Features - Promo blocks -->
                                        <!-- Features - Promo blocks -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/Services#ExternalAuditingandAssurance">External Auditing and Assurance</a>
                                        </li>
                                        <!-- End Features - Promo blocks -->
                                        <!-- Features - Promo blocks -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/Services#InternalAuditandControls">Internal Audit and Controls</a>
                                        </li>
                                        <!-- End Features - Promo blocks -->
                                        <!-- Features - Promo blocks -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/Services#Bookkeeping&Accounting">Bookkeeping & Accounting</a>
                                        </li>
                                        <!-- End Features - Promo blocks -->

                                    </ul>
                                </li>

                                <!-- contact -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="~/Home/Contact" class="nav-link g-py-7 g-px-0">contact</a>
                                </li>
                                <!-- End contact -->
                                <!-- jobIN -->
                                <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="~/Home/JopIn" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">Job-in</a>

                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                                        <!-- jOPS -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/JopIn#jOPS">jOPS</a>
                                        </li>
                                        <!-- End of jOPS -->
                                        <!-- Fill the application -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="~/Home/JopIn#Application">Fill the application</a>
                                        </li>
                                        <!-- End of Fill the application -->

                                    </ul>
                                </li>
                                <!-- End of jobIN -->
                                <!-- softin -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="~/Home/SoftIn" class="nav-link g-py-7 g-px-0">Soft-iN</a>
                                </li>
                                <!-- End softin -->
                                <a class="btn u-btn-primary" style="margin-top: 0; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;" href="#modal2" data-modal-target="#modal2" data-modal-effect="slide">
                                    request service
                                </a>

                                <!-- request a sevice modal window -->
                                <div id="modal2" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none; font-size: 1.2rem;">
                                    <button type="button" class="close" onclick="Custombox.modal.close();">
                                        <i class="hs-icon hs-icon-close"></i>
                                    </button>
                                    <h4 class="g-mb-20" style="text-align: center;">Fill the application</h4>
                                    @using (@Html.BeginForm("RequestASevice", "Home", FormMethod.Post, new { @id = "form2", @enctype = "multipart/form-data" }))

                                    {
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="First-Name">First Name:</label>
                                                <input type="text" id="First-Name" class="form-control" placeholder="First name" name="fName" required="required">
                                            </div>
                                            <div class="col">
                                                <label for="Last-Name">Last Name:</label>
                                                <input type="text" id="Last-Name" class="form-control" placeholder="Last name" name="lName" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Postion">Postion</label>
                                            <input type="text" class="form-control" id="postion" placeholder="postion" name="postion" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail">Email</label>
                                            <input type="email" class="form-control" id="inputEmail" placeholder="SFA@gmail.com" name="email" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="Mobile">Mobile NO.</label>
                                            <input type="text" class="form-control" id="Mobile" placeholder="NO." name="mobile" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="Company-Name">Company Name:</label>
                                            <input type="text" class="form-control" id="Company-Name" placeholder="company Name" name="cName" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Address</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address" required="required">
                                        </div>
                                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">service type:</label>
                                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="services" required="required">
                                            <option selected>Choose Services Type...</option>
                                            <option value="JobiN Service">JobiN Service</option>
                                            <option value="HR Service">HR Service</option>
                                            <option value="Legal Service">Legal Service</option>
                                            <option value="Accounting Service">Accounting Service</option>
                                            <option value="Audit Service">Audit Service</option>
                                            <option value="Tax Service">Tax Service</option>
                                            <option value="SoftiN Service">SoftiN Service</option>
                                            <option value="Business Studies">Business Studies</option>
                                            <option value="HRM Consulting">HRM Consulting</option>
                                            <option value="Finance Consulting">Finance Consulting</option>
                                        </select>

                                        <button type="submit" class="btn btn-primary" style="text-align: center; width: 100%;">send</button>
                                    }
                                </div>
                                <!-- End of request a service modal window -->


                                <a class="btn u-btn-primary" style="margin-top: 0; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;" href="#modal3" data-modal-target="#modal3" data-modal-effect="newspaper">
                                    send your CV
                                </a>


                                @Html.ValidationSummary()
                                <!-- Demo modal window -->
                                <div id="modal3" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none; font-size: 1.2rem;">
                                    <button type="button" class="close" onclick="Custombox.modal.close();">
                                        <i class="hs-icon hs-icon-close"></i>
                                    </button>
                                    <h4 class="g-mb-20">upload your CV</h4>
                                    @using (@Html.BeginForm("SendYourCV", "Home", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))

                                    {
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="First-Name">First Name:</label>
                                                <input type="text" id="First-Name" class="form-control" placeholder="First name" name="fName" required="required">
                                            </div>
                                            <div class="col">
                                                <label for="Last-Name">Last Name:</label>
                                                <input type="text" id="Last-Name" class="form-control" placeholder="Last name" name="lName" required="required">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="inputEmail">Email:</label>
                                            <input type="email" class="form-control" id="inputEmail" placeholder="SFA@gmail.com" name="email" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="Mobile">Mobile NO:</label>
                                            <input type="text" class="form-control" id="Mobile" placeholder="NO." name="mobile" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Upload your CV: (Note: File should be less than 2 MB.)</label>
                                            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="fileUploader">
                                        </div>

                                        <button type="submit" class="btn btn-primary" style="text-align: center; width: 100%;">send</button>
                                    }
                                </div>

                                <!-- End Demo modal window -->


                            </ul>
                        </div>
                        <!-- End Navigation -->


                    </div>
                </nav>
            </div>

        </header>
        <!-- End Header -->
        <section>
            @RenderBody()
        </section>
        <!-- Footer -->
        <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
                        </div>

                        <p>
                            SFA Alliance offers various services related to businessman affairs, to all companies, factories, organizations,
                            associations and clubs for different types of businesses: industrial, commercial, services, and financing.
                        </p>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
                        </div>

                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Home">Home</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Home/About">About Us</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Home/Services">Services</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Home/JopIn">Job-IN</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Home/SoftIn">Soft-iN</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Home/Contact">Contact Us</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
                        </div>

                        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../assets/img/maps/map2.png);">
                            <!-- Location -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                </div>
                                <p class="mb-0">El-Obour Buildings (29), Salah Salem St, Cairo, <br> Beside VAT authority building.</p>
                            </div>
                            <!-- End Location -->
                            <!-- Phone -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                                <p class="mb-0">+201016155220</p>
                            </div>
                            <!-- End Phone -->
                            <!-- Phone -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <p class="mb-0">+201016155220</p>
                            </div>
                            <!-- End Phone -->
                            <!-- Email and Website -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:sfa@sfa-bcs.com">sfa@sfa-bcs.com</a>
                                    <br>
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://sfa-bcs.com/">www.sfa-bcs.com</a>
                                </p>
                            </div>
                            <!-- End Email and Website -->
                        </address>
                    </div>
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->
        <!-- Copyright Footer -->
        <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                        <div class="d-lg-flex">
                            <p class="d-block g-font-size-default g-mb-10 g-mb-0--md" style="text-align: center;">&copy; @DateTime.Now.Year - SFA All Rights Reserved.</p>
                        </div>
                    </div>

                    <div class="col-md-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <a href="https://www.facebook.com/sfaalliance" class="g-color-white g-color-primary--hover g-pa-3" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <a href="https://twitter.com/SFA_alliance" class="g-color-white g-color-primary--hover g-pa-3" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="linkedin">
                                <a href="https://www.linkedin.com/company/sfaalliance/" class="g-color-white g-color-primary--hover g-pa-3" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Copyright Footer -->
        <!--    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
        "bottom": 15,
        "right": 15
        }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
        </a> -->
        <div id="preloader"></div>

    </main>
    <div class="u-outer-spaces-helper"></div>


    <!--plugins-->
    <!-- JS Global Compulsory -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/assets/js/jquery-3.4.1.js"></script><!---->

    <script src="~/assets/js/TimeAgoPlugin.js"></script>
    <script src="~/assets/js/jquery-migrate.min.js"></script><!---->
    <script src="~/assets/js/popper.min.js"></script><!---->
    <script src="~/assets/js/bootstrap.min.js"></script><!---->
    <script src="~/assets/js/jquery.easing.min.js"></script><!---->
    <script src="~/assets/js/offcanvas.js"></script><!---->
    <!-- JS Implementing Plugins -->
    <script src="~/assets/js/hs.megamenu.js"></script><!---->
    <script src="~/assets/js/dzsparallaxer.js"></script><!---->
    <script src="~/assets/js/scroller.js"></script><!---->
    <script src="~/assets/js/plugin.js"></script><!---->
    <script src="~/assets/js/appear.js"></script><!---->
    <script src="~/assets/js/jquery.fancybox.min.js"></script><!---->
    <script src="~/assets/js/slick.js"></script><!---->
    <script src="~/assets/js/typed.min.js"></script><!---->
    <script src="~/assets/js/custombox.min.js"></script><!---->
    <script src="~/assets/js/masonry.pkgd.min.js"></script><!---->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script><!---->
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script><!---->
    <!-- JS Unify -->
    <script src="~/assets/js/hs.core.js"></script><!---->
    <script src="~/assets/js/hs.header.js"></script><!---->
    <script src="~/assets/js/hs.hamburgers.js"></script><!---->
    <script src="~/assets/js/hs.counter.js"></script><!---->
    <script src="~/assets/js/hs.tabs.js"></script><!---->
    <script src="~/assets/js/hs.popup.js"></script><!---->
    <script src="~/assets/js/hs.carousel.js"></script><!---->
    <script src="~/assets/js/hs.modal-window.js"></script><!---->
    <script src="~/assets/js/hs.dropdown.js"></script><!---->
    <script src="~/assets/js/hs.scrollbar.js"></script><!---->
    <script src="~/assets/js/hs.text-slideshow.js"></script><!---->
    <script src="~/assets/js/hs.popup.js"></script><!-------------->
    <script src="~/assets/js/hs.carousel.js"></script><!-------------->
    <script src="~/assets/js/hs.go-to.js"></script><!---->
    <script src="~/assets/js/hs.focus-state.js"></script><!---->
    <script src="~/assets/js/bs-custom-file-input.min.js"></script><!---->
    <script src="~/assets/js/jquery.filer.min.js"></script><!---->
    <!-- JS Unify -->
    <script src="~/assets/js/hs.focus-state.js"></script><!-------------------->
    <script src="~/assets/js/hs.file-attachement.js"></script><!---->
    <!-- JS Customization -->
    <script src="~/Scripts/swal.js"></script><!---->
    <script src="~/assets/js/custom.js"></script><!---->
    <!-- JS Plugins Init. -->


    <script>
        $(document).on('ready', function () {
            // initialization of forms
            $.HSCore.components.HSFileAttachment.init('.js-file-attachment');
            $.HSCore.helpers.HSFocusState.init();

        });
    </script>
    <script>
        $(document).ready(function () {
            if ('@ViewBag.Message' == 'Sent') {
                Swal.fire(
  'Mail has been sent successfully',
  '',
  'success'
)
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            var dateAux;
            $(".timeago").each(function (i, item) {
                dateAux = moment($(item).html(), 'DD-MM-YYYY hh:mm:ss');
                $(item).attr('datetime', dateAux.toISOString());
            })
            $("time.timeago").timeago();
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>
</html>
